body {
    background-color: lightgray;
}
.navbar {
    justify-content: center;
}

.search-icon {
    background-color: rgb(0, 12, 187);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.search-history {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
}
#search-stuff {
    background-color: lightgrey;

}

.fa-search {
    padding: 5px 10px;
    color: white;
}

h1 {
    color:aliceblue;
}

h3 {
    padding-top: 20px;
}

.today {
    align-items: baseline;
    
}


#day0-uvi {
    color:white;
    padding: 4px 8px;
    font-weight: bold;
}
.favorable {
    background-color: green;
}

.moderate {
    background-color: orange;
}

.severe {
    background-color: red;
}

.col-2 {
    color: white;
    background-color: rgb(0, 12, 187);
    padding: 10px 10px;
    margin: 10px;
    align-items: center;
    border-radius: 3px;
}

p {
    margin: auto;
}

.today {
    margin: 10px;
}

#next-forecast {
    display: flex;
    justify-content: space-between;
}

.history-format {
    background-color: white;
    padding: 10px 0 10px 10px;
}

.history-format:hover {
    background-color: lightskyblue;
}

ul {
    margin-bottom: 0px;
}