body {
    background-color: grey;
}
.navbar {
    justify-content: center;
}

.search-icon {
    background-color: rgb(0, 12, 187);
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-stuff {
    background-color: lightgrey;
}

.fa-search {
    padding: 5px 10px;
    color: white;
}

h1 {
    color:aliceblue;
}

/*Temporary Stuff*/
.col-4, .col-8 {
    border: 1px black solid;
}

#day0 {
    border: 1px sandybrown dotted;
}

#next-forecast {
    border: 1px brown dotted;
}
.today {
    align-items: baseline;
    
}


#day0-uvi {
    color:white;
    padding: 8px;
    font-weight: bold;
}
.favorable {

    background-color: green;
}

.moderate {

    background-color: orange;
}

.severe {

    background-color: red;
}

.col-2 {
    color: white;
    background-color: rgb(0, 12, 187);
    padding: 10px 10px;
    margin: 10px;
    align-items: center;
}

/* #day0-uvi {
    display: flex;
    flex-direction: row;
    align-items: inherit;
} */