body {
    background-color: lightgray;
}
.navbar {
    justify-content: center;
}

.search-icon {
    background-color: rgb(0, 12, 187);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-history {
    display: flex;
    flex-direction: column;
}
#search-stuff {
    background-color: lightgrey;
}

.fa-search {
    padding: 5px 10px;
    color: white;
}

h1 {
    color:aliceblue;
}

h3 {
    padding-top: 20px;
}

/*Temporary Stuff*/

.today {
    align-items: baseline;
    
}


#day0-uvi {
    color:white;
    padding: 8px;
    font-weight: bold;
}
.favorable {

    background-color: green;
}

.moderate {

    background-color: orange;
}

.severe {

    background-color: red;
}

.col-2 {
    color: white;
    background-color: rgb(0, 12, 187);
    padding: 10px 10px;
    margin: 10px;
    align-items: center;
    border-radius: 2px;
}

#next-forecast {
    display: flex;
    justify-content: space-between;
}